# Node modules
/node_modules
/.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build outputs
/build
/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite or React specific
/.vite
/.cache

# IDE files
.vscode/
.idea/

# Optional: npm debug
npm-debug.log*
